<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Appointment</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/small-business.css') }}"/>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> <!-- load jquery via CDN -->


</head>
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/animate.css/3.5.1/animate.min.css">
<body style="overflow-x: hidden; overflow-wrap: hidden; ">
<!-- Navigation -->


<!-- Brand and toggle get grouped for better mobile display -->
<!-- Collect the nav links, forms, and other content for toggling -->
{% include "emp_nav.html" %}
<!-- /.navbar-collapse -->

<!-- /.container -->
<body>
<div id="main-calendar">
  <caption style="padding-top: 0px;">
    {% if success %}
    <caption style="padding-top: 0px;">
      <div id="alert-top" class="alert alert-success">
        <strong>{{success}}
          <bold id="appt-num"></bold>
        </strong></div>
    </caption>
    {% elif fail %}
    <caption style="padding-top: 0px;">
      <div id="alert-top" class="alert alert-danger">
        <strong>{{fail}}
          <bold id="appt-num"></bold>
        </strong></div>
    </caption>

    {% endif %}
  </caption>
  <h2 align="center"><strong> Settings</strong></h2>
  <div class="well calendar-top" id="calendar">
    <div class="well-sm">


      <div class="well">
        <form class="form-horizontal" action="emp-setting" method="post">

          <div class="row">
            <div class="col-sm-2">
              Username
            </div>
            <div class="col-sm-3">
              <input name="username"
                     type="text" class="form-control" required=True

                     value= {{emp.username}}>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2">
              Password
            </div>
            <div class="col-sm-3">
              <input name="password"
                     type="text" class="form-control" required=True

                     placeholder="*********">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <button type="submit"
                      name="submit"
                      class="btn btn-success btn-sm">
                Save
              </button>
            </div>
          </div>
          <input name="type" value="credential" hidden/>

        </form>
      </div>
      <div class="well">
        <form class="form-horizontal" action="emp-setting" method="post">

          <div class="row">
            <div class="col-sm-2">
              Visibility
            </div>
            <div class="col-sm-3">
              {% if emp.visible == 'Y' %}
              <input type="radio" name="visible" value="Y" checked> Visible<br>
              <input type="radio" name="visible" value="N"> Not Visible<br>
              {% elif emp.visible == 'N' %}
              <input type="radio" name="visible" value="Y"> Visible<br>
              <input type="radio" name="visible" value="N" checked> Not Visible<br>
              {% endif %}
              <input name="type" value="visible" hidden/>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-4">
              <button type="submit"
                      name="submit"
                      class="btn btn-success btn-sm">
                Save
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>


</body>
</html>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<!-- Footer -->
<div id="footer">
  <div class="row">
    <div class="col-lg-10">
      <p style="color:white;">Copyright &copy; Meeting 2018</p>
    </div>
  </div>
</div>
</body>
<script type="text/javascript" src="{{ url_for('static' ,
filename='bower_components/jquery/src/jquery.min.js')}}">
