<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Appointment</title>
    <!-- ... -->


    <link rel="stylesheet" href="{{ url_for('static',
    filename='bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/small-business.css') }}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> <!-- load jquery via CDN -->

</head>
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/animate.css/3.5.1/animate.min.css">
<body style="overflow-x: hidden; overflow-wrap: hidden; ">
    <!-- Navigation -->

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
         style="background-color: #f5f5f5;">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo text-center">
                  <a href="/" ><h1> &nbsp; &nbsp; &nbsp; Meete &nbsp;&nbsp;&nbsp; &nbsp;</h1></a>
                </div>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            {% include "admin_nav.html" %}
            <!-- /.navbar-collapse -->

        <!-- /.container -->
    </nav>
        <body>
       <div id="main-calendar">
         <caption style="padding-top: 0px;">
           {% if success %}
           <caption style="padding-top: 0px;">
               <div id="alert-top" class="alert alert-success">
                   <strong>{{success}} <bold id="appt-num"></bold>
                   </strong></div></caption>
           {% elif fail %}
           <caption style="padding-top: 0px;">
               <div id="alert-top" class="alert alert-danger">
                   <strong>{{fail}} <bold id="appt-num"></bold>
                   </strong></div></caption>

           {% endif %}
               </caption>
       <h2 align="center"><strong> Add Room</strong></h2>
        	<div class="well calendar-top" id="calendar">
       <div class="well-sm">


           <form class="form-horizontal" action="admin_add_room" method="post" >

               <div id="step1">

                     <legend class="text-center" >Enter New Room Info

                     </legend>

<form>
  <div class="form-group">
    <label for="exampleInputName">Room Name</label>
    <input required type="text" class="form-control" name="room_name" id="exampleInputEmail1"  placeholder="ex: Cs Conference Room">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Room Capacity</label>
    <input required type="text" name="capacity" class="form-control" id="exampleInputPassword1" placeholder="Integers">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>





	</div>

  <div id="step3">
  </div>
</div>
</div></div>
   </body>
</html>
           <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <!-- Footer -->
        <div id="footer" >
            <div class="row" >
                <div class="col-lg-10">
                    <p style="color:white;">Copyright &copy; Meeting 2018</p>
                </div>
            </div>
        </div>
      </body>

      <script type="text/javascript" src="{{ url_for('static' ,
      filename='bower_components/jquery/src/jquery.min.js')}}">
      </script>
      <script type="text/javascript" src="{{ url_for('static',
      filename='bower_components/moment/min/moment.min.js')}}">
      </script>
      <script type="text/javascript" src="{{ url_for('static',
      filename='bower_components/moment/min/moment.min.js')}}">
      </script>
      <script type="text/javascript" src="{{ url_for('static',
      filename='bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}">
      </script>
      <script type="text/javascript" src="{{ url_for('static',
      filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}">
      </script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}">
      </script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}">
      </script>
