<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav" style="text-align: center;">
    <li class="nav-button">
      <a href="admin_add_emp">Add Employee</a>
    </li>
    <li class="nav-button">
      <a href="admin_add_room">Add Room</a>
    </li>
    <li class="nav-button">
      <a href="admin_config_emp">Config Employee</a>
    </li>
    <li class="nav-button">
      <a href="admin_config_room">Config Room</a>
    </li>
    <li class="nav-button">
      <a href="admin_setting">Setting</a>
    </li>
    <li class="btn-appointment">
      <a href="logout">LogOut</a>
    </li>
  </ul>
</div>
