<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Calendar</title>

    <!-- Bootstrap Core CSS -->
    <!--<link href="assets/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />

    <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pop_form.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/small-business.css') }}" />

    <!--<link href="assets/css/small-business.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> <!-- load jquery via CDN -->


    <!--<script type="text/javascript" src="assets/js/custom.js"></script>-->


</head>
     <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/animate.css/3.5.1/animate.min.css">
<body style="overflow-x: hidden; overflow-wrap: hidden; ">
    <!-- Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
{% include "emp_nav.html" %}
            <!-- /.navbar-collapse -->

        <!-- /.container -->
        <body>
       <div id="main-calendar">
{% include "main_calendar.html" %}

</div>



      </div>
   </body>
</html>
           <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <!-- Footer -->
        <div id="footer" >
            <div class="row" >
                <div class="col-lg-10">
                    <p style="color:white;">Copyright &copy; Meeting 2018</p>
                </div>
            </div>
        </div>
      </body>
      <script type="text/javascript" src="{{ url_for('static',
      filename='bower_components/moment/moment.js')}}">
      </script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/calendar.js') }}">
      </script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}">
      </script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}">
      </script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}">
      </script>


    <!--  <script src="assets/js/jquery.js"></script>
       <!-- Bootstrap Core JavaScript -->
  <!--     <script src="assets/js/bootstrap.js"></script>-->
