
<div class="well calendar-top" id="calendar">




          <div class="row"  >
         <div class="row"  >
        <div class="previous">
          <button type="button" name="next" onclick="selectSlot('{{prev.year}}','{{prev.month}}','{{prev.day}}',
                                    '{{base_start.strftime("%I:%M %p")}}',
                                    '{{base_end.strftime("%I:%M %p")}}');">
     <a><i style="font-size:24px" class="fa">&#xf053;</i></a>
          </button>
                        </div>

               <div class="next" >
                <button type="button" name="next" onclick="selectSlot('{{next.year}}','{{next.month}}','{{next.day}}',
                                          '{{base_start.strftime("%I:%M %p")}}',
                                          '{{base_end.strftime("%I:%M %p")}}');">
<a><i style="font-size:24px" class="fa">&#xf054;</i></a>
                </button>

        </div>
             </div>
        <div class="row">

                            <input hidden="true" name="first_day" type="text" value="23" />
            <input hidden="true" name="first_month" type="text" value="01" />
            <input hidden="true" name="first_year" type="text" value="2018" />

<div class="col-sm-12" align="center" style="">
<div class="day"><p><strong>{{calendar.day_name[date.weekday()]}}</strong></p>

<p><strong>{{calendar.month_name[date.month]}} {{date.day}} {{date.year}}</strong></p>
</div>
{% for slot in timeslots %}
{% if slot.available == True %}
<div class="slots" onclick="selectSlot('{{date.year}}','{{date.month}}','{{date.day}}',
                          '{{slot.start.strftime("%I:%M %p")}}',
                          '{{slot.end.strftime("%I:%M %p")}}');">
<a>
{{slot.start.strftime("%I:%M %p")}} - {{slot.end.strftime("%I:%M %p")}}        </a>
</div>
{% endif %}
{% endfor %}


            <div class="slots-inactive">
<i class="material-icons">&#xe15b;</i>
</div>

</div>


                           <input hidden="true" name="last_day" type="text" value="24" />
            <input hidden="true" name="last_month" type="text" value="01" />
            <input hidden="true" name="last_year" type="text" value="2018" />

        </div>
     </div>



</div>

</div>
